/* Original by noha-ra, http://noha-ra.deviantart.com/ */
/* Modified by sorbet, https://github.com/sorebit */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);


/* Remove internal border */

#main-window:not([chromehidden*="toolbar"])[sizemode="normal"]
{
    margin-top:0px!important;
    margin-left:0px!important;
    margin-right:0px!important;
    margin-bottom: 0px !important;
}


/* Comment these lines to have normal tab width */

.tabbrowser-tabs:not([drag=detach]) > .tabbrowser-tab:not([pinned])[fadein] {
    min-width: 10px !important;
    max-width: 100% !important;
}

/* Removes ugly cloud thing */
#TabsToolbar:not(:-moz-lwtheme)::after {
    display: none;
}
/* Remove the following line if you want the text color of unselected tabs to be black (Firefox default) */
#TabsToolbar .tabbrowser-tab:not([selected]) {
    color: rgba(255,255,255,0.9);
}

#TabsToolbar {
    background: transparent !important;
    margin-bottom: 0 !important;
}

#TabsToolbar .tabbrowser-tabs {
    min-height: 30px !important;
    margin-top: 0px !important;
    margin-bottom: -1px !important;
    text-align: center !important;
    margin-left: -17px !important;
    margin-right: -16px !important;
}

#tabbrowser-tabs tab .tab-close-button {
    display: none !important;
}

.tabbrowser-tab:not([pinned]) .tab-icon-image {
    display: none !important;
}


#TabsToolbar .tabbrowser-tab {
    -moz-border-top-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-bottom-colors: none !important;
    border-style:  solid !important;
    border-width: 0px 0px 0px 0px !important;
    text-shadow: 0 0 4px rgba(80,80,80,.2) !important;
    padding: 4px 0px !important;
    border-radius: 0px !important;
    background: rgba(240,240,240,1) !important;
    background-clip: padding-box !important;
    transition: all .1s !important;
    margin-left: 0px !important;
    color: rgb(120,120,120) !important;
    font-family: 'SFNS Display' !important;
    font-size: 13px !important;
    border-color: #c8c8c8 !important;
}

#TabsToolbar .tabbrowser-tab[last-visible-tab] {
    border-top-right-radius: 2px !important;
    /*border-bottom-right-radius: 3px !important;*/
    border-right-width: 0px !important;
    margin-right: 1px !important;
    border-right-color: rgba(0,0,0,0) !important;
}

#TabsToolbar .tabbrowser-tab[first-visible-tab] {
    border-top-left-radius: 2px !important;
    /*border-bottom-left-radius: 3px !important;*/
    border-left-width: 0px !important;
    margin-left: 2px !important;
    border-left-color: rgba(0,0,0,0) !important;
}

#TabsToolbar .tabbrowser-tab[afterselected] {
}

#TabsToolbar .tabbrowser-tab[selected] {
    color: rgba(90,90,90,1) !important;
    background: rgba(251,251,251,1) !important; 
    padding: 0px 0px !important;
}

#TabsToolbar .tabs-newtab-button:hover,
#TabsToolbar .tabbrowser-tab:hover:not([selected]) {
    border-color: rgba(0,0,0,0) !important;
    background-color: rgba(255,255,255,1) !important;
}

#TabsToolbar .tab-background {
    margin: 0 !important;
    background: transparent !important;
}

#TabsToolbar .tab-background-start,
#TabsToolbar .tab-background-end {
    display: none !important;
}

#TabsToolbar .tab-background-middle {
    margin: -4px -2px !important;
    background: transparent !important;
}

#TabsToolbar .tabbrowser-tab:after,
#TabsToolbar .tabbrowser-tab:before {
    display: none !important;
}

#TabsToolbar .tabs-newtab-button {
    /*border-width: 1px 1px 0 1px !important;
    margin: 0 !important;
    width: auto !important;
    padding: 0 5px !important;*/
    display: none !important;
}

#addon-bar,
#PersonalToolbar,
#nav-bar {
    background: #eaf2fa !important;
    box-shadow: none !important;
    background-clip: padding-box !important;
    border-color: rgba(0,0,0,.25) !important;
    border-radius: 0px !important;
}

.subviewbutton.panel-subview-footer {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}


/* URL BAR */

/* Remove back/fwd */

#nav-bar  #back-button > .toolbarbutton-icon {
    display: none !important;
}
#forward-button {
    display: none !important;
}

/* Styling */
#searchbar > .searchbar-textbox,

#urlbar {
    border: 1px solid rgb(230,230,230) !important;
    text-align: center !important;;
    background: rgba(255,255,255,1) !important;
    margin-top: 0px !important;
    margin-left: 5px !important;
    border-radius: 0px;
    padding: 0px !important;
    color: rgb(130,130,130) !important;
    height: 22px;
    font-size: 16px !important;
}


#nav-bar {
    height: 40px;
    background-color: rgba(251,251,251,1) !important;
    border-bottom: 0px solid #c8c8c8 !important;
    border-top: 0px solid #c8c8c8 !important;
    margin-bottom: -1px !important;
    margin-top: 1px !important;
    border-left: none !important;
    border-right: none !important;
   margin-right: 1px !important;
    margin-left: 1px !important;
}
    
#PanelUI-button, #customization-panel-container,
#customization-panelWrapper .panel-arrow,
#ctr_panelui-button,
#wrapper-ctr_panelui-button {
    -moz-box-ordinal-group: 0
}

#identity-box, #dropmarker-icon, #historydropmarker, #autocomplete-history-dropmarker, #urlbar-history-dropmarker, #dropmarker {
    display: none !important;
}

#autocomplete-history-dropmarker, #urlbar-history-dropmarker, #urlbar-reload-button {
    display: none !important;
}

.autocomplete-history-dropmarker.urlbar-history-dropmarker {
    display: none !important;
}

#plugins-notification-icon, #notification-anchor-icon, #notification-popup-box {
    display: none !important;
    
}

/* Remove tab scrolling */

.scrollbutton-up, .scrollbutton-down, #alltabs-button {
    display: none !important;
}